.projects-container {
  margin-top: 30px;
  padding-top: 30px;
  border-top: 1px solid var(--SecondaryBackground);
}

.project-individual-container {
  display: flex;
  margin-bottom: 7.5vh;
}

.project-individual-container:nth-child(4) {
  margin-bottom: 0;
}

.project-section-title {
  color: var(--AccentBlue);
  font-size: 3vh;
  text-align: center;
  margin-bottom: 30px;
}

.project-img {
  width: 50%;
}

.project-info {
  color: white;
  width: 50%;
  padding-left: 30px;
}

.project-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.project-title {
  font-size: 2vh;
}

.project-role {
  font-weight: 400;
  font-size: 1.5vh;
}

.live-demo-link {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: white;
  border: 2px solid var(--AccentBlue);
  padding: 1vh;
  border-radius: 10px;
  transition: 0.3s all;
  font-size: 1.5vh;
}

.live-demo-link:hover {
  background-color: var(--AccentBlue);
}

.demo-icon {
  margin-right: 5px;
  height: 2vh;
  width: 2vh;
}

.project-desc {
  margin-top: 20px;
  line-height: 3vh;
  font-size: 1.5vh;
}

.project-tech {
  margin-top: 20px;
  font-size: 1.5vh;
}

.project-tech-title {
  margin-bottom: 1vh;
}

.project-icon-link-container {
  display: flex;
  justify-content: space-between;
}

.project-tech-icons {
  display: flex;
}

.project-icon {
  width: 4vh;
  height: 4vh;
  margin-right: 1.3vh;
}

.github-link-group {
  display: flex;
  align-items: center;
}

.github-link {
  display: flex;
  background-color: var(--AccentBlue);
  height: 100%;
  align-items: center;
  padding: 0 1vh;
  border-radius: 10px;
  transition: 0.3s all;
  text-decoration: none;
  color: white;
}

.github-link:hover {
  background-color: var(--AccentBlueSecondary);
}

.github-link:first-child {
  margin-right: 10px;
}

.github-icon {
  margin-right: 5px;
}

/* Media Queries */
@media (max-width: 1650px) {

  .project-individual-container {
    margin-bottom: 50px;
  }

  .project-img {
    width: 60%;
  }

  .project-info {
    width: 40%;
    padding-left: 0;
  }

  .project-icon-link-container {
    flex-direction: column;
  }

  .github-link-group {
    margin-top: 20px;
  }

  .github-link {
    height: 40px;
  }

  .project-header {
    flex-direction: column;
  }

  .live-demo-link {
    margin-top: 2vh;
  }
}

@media (max-width: 1200px) {
  .project-individual-container {
    flex-direction: column;
  }

  .project-img,
  .project-info {
    width: 100%;
  }

  .project-icon-link-container {
    flex-direction: row;
  }

  .github-link-group {
    margin-top: 0;
  }

  .project-header {
    flex-direction: row;
  }

  .live-demo-link {
    margin-top: 0;
  }
}

@media (max-width: 830px) {
  .project-icon-link-container {
    flex-direction: column;
  }

  .project-tech-icons {
    justify-content: space-between;
  }

  .github-link-group {
    justify-content: space-around;
    margin-top: 30px;
  }

  .project-header {
    flex-direction: column;
  }

  .live-demo-link {
    margin-top: 2vh;
  }
}

@media (max-width: 375px) {

  .project-icon {
    width: 36px;
    height: 36px;
  }
}