.hero-content {
  color: white;
  height: 93vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.hero-title {
  font-size: 40px;
  font-weight: 600;
}

.hero-title span {
  color: var(--AccentBlue);
}

.hero-caption {
  font-size: 32px;
  margin-top: 10px;
}

.hero-buttons {
  display: flex;
  margin-top: 20px;
  align-items: center;
  flex-wrap: wrap;
}

.hero-buttons a {
  text-decoration: none;
  color: white;
}

.hero-link {
  padding: 10px 10px;
  background-color: var(--AccentBlue);
  border-radius: 5px;
  transition: 0.3s all;
}

.hero-link:hover {
  background-color: var(--AccentBlueSecondary);
}

.hero-btn {
  display: flex;
  align-items: center;
  padding: 10px 10px;
  border-bottom: 1px solid transparent;
  transition: 0.3s all;
  margin-left: 10px;
}

.hero-btn:hover {
  border-bottom: 1px solid white;
}

.hero-icon {
  margin-right: 5px;
}

/* Media Queries */
@media (max-width: 656px) {
  .hero-btn:nth-child(4) {
    display: none;
  }
}

@media (max-width: 596px) {
  .hero-caption {
    font-size: 26px;
  }
}

@media (max-width: 534px) {
  .hero-title {
    font-size: 36px;
  }
}

@media (max-width: 379px) {
  .hero-btn:nth-child(3) {
    display: none;
  }
}

@media (max-width: 377px) {
  .hero-caption {
    font-size: 24px;
  }
}

@media (max-width: 374px) {
  .hero-title {
    font-size: 30px;
  }
}