.hero-content {
  color: white;
  height: 93vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.hero-title {
  font-size: 40px;
  font-weight: 600;
}

.hero-title span {
  color: var(--AccentBlue);
}

.hero-caption {
  font-size: 32px;
  margin-top: 10px;
}

.hero-buttons {
  display: flex;
  margin-top: 20px;
  align-items: center;
}

.hero-buttons a {
  text-decoration: none;
  color: white;
}

.hero-link {
  padding: 10px 10px;
  background-color: var(--AccentBlue);
  border-radius: 5px;
  transition: 0.3s all;
}

.hero-link:hover {
  background-color: var(--AccentBlueSecondary);
}

.github-btn {
  display: flex;
  align-items: center;
  padding: 10px 10px;
  border-bottom: 1px solid transparent;
  transition: 0.3s all;
  margin-left: 10px;
}

.github-btn:hover {
  border-bottom: 1px solid white;
}

.github-icon {
  margin-right: 5px;
}