.skills-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 30px;
  border-top: 1px solid var(--SecondaryBackground);
}

.skills-title {
  color: var(--AccentBlue);
  font-size: 3vh;
}

.skills-icon-container {
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  width: 60%;
}

.skill-icon {
  height: 11%;
  width: 11%;
  margin: 2% 0.75%;
}

.white-icon {
  background-color: white;
  border-radius: 10px;
  padding: 5px;
}

/* Media Queries */

@media (max-width: 768px) {
  .skills-icon-container {
    width: 100%;
  }

  .skill-icon {
    height: 20%;
    width: 20%;
    margin: 2.5%;
  }
}